
# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.venv-1/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset - DO NOT PUSH RAW DATA
ML/data/raw/

# Generated results
ML/results/*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Environment variables
.env.*

# Python packaging
*.egg-info/
dist/
build/

# Large trained ML model
ML/models/extended_isolation_forest.joblib

# Frontend dependencies
frontend/node_modules/

# Vite cache/build output
frontend/node_modules/.vite/
frontend/dist/